{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_label(form.img_name) }}
            <div class="text-center">
                {% if slide.imgName is defined and slide.imgName %}
                    <img class="mb-3" src="/img/slides/{{ slide.imgName }}" alt="" width="50%">
                {% endif %}
                {{ form_widget(form.img_name) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            {{ form_label(form.container_alignment) }}
            {{ form_widget(form.container_alignment) }}
            {{ form_label(form.container_apparaition) }}
            {{ form_widget(form.container_apparaition) }}
            {{ form_label(form.text_alignment) }}
            {{ form_widget(form.text_alignment) }}
        </div>
        <div class="jumbotron">
            <div class="mb-3">
                {{ form_label(form.link) }}
                {{ form_widget(form.link) }}
                {{ form_label(form.video_link) }}
                {{ form_widget(form.video_link) }}
            </div>
            <div>
                {{ form_label(form.buttonTitle) }}
                {{ form_widget(form.buttonTitle) }}
                {{ form_label(form.buttonLink) }}
                {{ form_widget(form.buttonLink) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}