<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin.index') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SOSCLEANCAR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin.index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{ 'Dashboard'|trans() }}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{ 'Interface'|trans() }}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#article"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-newspaper"></i>
            <span>{{ 'Articles'|trans() }}</span>
        </a>
        <div id="article" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('admin.article.list') }}">{{ 'Articles'|trans() }}</a>
                <a class="collapse-item" href="{{ path('admin.category.list') }}">{{ 'Categories'|trans() }}</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#slideshow"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-images"></i>
            <span>{{ 'Slideshow'|trans() }}</span>
        </a>
        <div id="slideshow" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('admin.slide.list') }}">{{ 'List'|trans() }}</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.legals.list') }}">
            <i class="fas fa-file"></i>
            <span>{{ 'Legals'|trans()}}</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{ 'Apparence'|trans() }}
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.home.editor') }}">
            <i class="fas fa-pager"></i>
            <span>{{ 'Home editor'|trans()}}</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
{#    <div class="sidebar-heading">#}
{#        Administration#}
{#    </div>#}
</ul>
<!-- End of Sidebar -->