{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="clearfix bg-white mb-4 p-3">
            <div class="float-left">
                <h1 class="h3 mb-2 text-gray-800">{{ 'Home elements list'|trans }}</h1>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ path('admin.home.editor') }}" aria-selected="true">{{ 'Reinsurance'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ path('admin.home.editor.blocks.list') }}" aria-selected="false">{{ 'Home blocks'|trans }}</a>
            </li>
        </ul>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for homeBlock in homeBlocks %}
                        <tr>
                            <td>{{ homeBlock.id }}</td>
                            <td>{{ homeBlock.title }}</td>
                            <td><a href="{{ path('admin.home.editor.blocks.edit', {id: homeBlock.id}) }}" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}