{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="clearfix bg-white mb-4 p-3">
        <div class="float-left">
            <h1 class="h3 mb-2 text-gray-800">{{ 'Categories list'|trans }}</h1>
        </div>
        <div class="float-right">
            <a href="{{ path('admin.category.create') }}" class="btn btn-success">{{ 'Create category'|trans }}</a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ 'DataTables Example'|trans }}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td><a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('admin.category.delete', {id: category.id}) }}" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}