{% extends "admin/layout.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="clearfix bg-white mb-4 p-3">
            <div class="float-left">
                <h1 class="h3 mb-2 text-gray-800">{{ 'Articles list'|trans }}</h1>
            </div>
            <div class="float-right">
                <button id="createArticle" class="btn btn-success">{{ 'Create article'|trans }}</button>
            </div>
        </div>

        <!-- Page Heading -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'DataTables Example'|trans }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'Title'|trans }}</th>
                            <th>{{ 'Created At'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>{{ 'Title'|trans }}</th>
                            <th>{{ 'Created At'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td>{{ article.createdAt|date('d/m/Y H:i:s') }}</td>
                                <td><a href="{{ path('admin.article.edit', {id: article.id}) }}" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></a>
                                    <a href="{{ path('admin.article.delete', {id: article.id}) }}" class="btn btn-danger btn-circle btn-delete-element"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#createArticle').on('click', function () {
            Swal.fire({
                title: "<strong>{{ 'Choose the layout'|trans }}</strong>",
                html:
                    '<ul><li><a href="{{ path('admin.article.create') }}?layout=layout_1">Layout 1</a></li><li><a href="{{ path('admin.article.create') }}?layout=layout_2">Layout 2</a></li></ul>',
                showCloseButton: true,
                showConfirmButton: false,
            })
        });
    </script>
{% endblock %}